<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AppMetrics.Client" version="1.0.200" />
  <package id="CIAPI" version="7.0.0-bleeding-409" />
  <package id="CIAPI" version="7.0.0-bleeding-413" />
  <package id="Newtonsoft.Json" version="4.5.7" />
  <package id="Salient.ReflectiveLoggingAdapter" version="3.2.0" />
</packages>